{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ page.content|raw }} 
  {% for article in page.collection %}
  <h2> {{article.title }}</h2>
  <p>{{ article.summary }}<a href="{{article.url}}">Read More</a></p>
  <hr>
  {% endfor %}
  {% if config.plugins.pagination.enabled and page.collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}
</div>
{% endblock %}
